@import 'reset';

body {
  width: 100%;
  height: 100%;
  font-size: 28px;
  color: #2c3a46;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei", STHeiti, SimSun, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
  line-height: normal !important;
}

#app {
  height: 100%;
  max-width: 10rem !important;
  margin: 0 auto !important;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.g-btn {
  border: none;
  outline: none;
  background: rgba(255, 215, 10, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(158, 83, 29, 1);
  vertical-align: bottom;
  text-align: center;
  font-weight: bold;
}